<section class="row">
  <article class="column">
    <h2>Recipes</h2>
    <ul>
      <%= for recipe <- @recipes do %>
        <li>
          <%= link(recipe.title, to: "/recipes/#{recipe.id}") %>
          <%= for image <- recipe.images do %>
            <img src={image} />
          <% end %>
        </li>
      <% end %>
    </ul>
  </article>
</section>
